body {
  background-color: midnightblue;
  color: white;
}


.glyphicon glyphicon-arrow-left {
  font-size: 50px;
  position: absolute;
  bottom: 10px;
  align-content: center;
}

.hours-wrapper {
  word-spacing: 15px;
}

.hourly-temp {
  word-spacing: 15px;
}

.wind {
  font-size: 30px;
}

.wind-level {
  font-size: 18px;
}

.glyphicon-tint {
  font-size: 18px;
}

.glyphicon-triangle-left {
  font-size: 18px;
}

.glyphicon-triangle-right {
  font-size: 18px;
}

.return {
  font-size: 30px;
  position: relative;
  padding-top: 0px;
  padding-left: -50px;
  word-spacing:50px;
}

.weather-list {
  background: transparent;
  border: 0px;
  padding: 0;
  outline: 0;
  align-content: center;
  word-spacing: 3px;
}

.alert-wrapper {
  position: fixed;
}

.add-this {
  font-size: 5px;
  position: relative;
  padding-top: 0px;
  padding-left: 50px;
  word-spacing:50px;
}
